/node_modules
/public/hot
/public/storage
/public/public
/storage/*.key
/storage/framework/cache/*
/storage/framework/views/*
/storage/framework/sessions/*
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
_ide_helper.php
_ide_helper_models.php
